<ion-view hide-nav-bar="true" class="greyBackgorund" cache-view="false">
    <ion-header-bar class="flxy-button">
        <button ui-sref="app.dashboard" class="button  button-clear icon ion-ios-arrow-left" style="color:white;">
            <span class="headerStyle">{{categoryName}}</span>
        </button>
          <button class="button button-clear button-positive icon ion-funnel flxy-button" ng-click="showFilter()"></button>
    </ion-header-bar>
     <div class="row animated bounceInDown" style="position:fixed; top:66px; z-index:1000; height: 75px; background-color: #333;">
          <div class="col abc" ng-repeat="d in dateScope" ng-click="dateClick(d)"><h4 class="week">{{d | date:'dd' }}</h4><h5 class="week">{{d | date:'EEE' }}</h5></div>
      </div>

    <ion-content class="" style="margin-top:85px">
    <!--<div class="list">
    <a class="item item-thumbnail-left item-text-wrap Paddingtop animated zoomIn" ng-repeat="l in listArray" ng-click="goDetail(l)">
      <img image-lazy-src="{{ l.center_imgpath }}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="-200"  id="listImg">
      <h2 style="color: red;  white-space: nowrap;">{{l.center_name}}</h2>
      <p>10am to 12pm</p>
       <p>{{l.location}}</p>
<p style="color:green">{{l.price}} Rs</p>
    <span class="item-note">
  {{l.distance}} KMs
    </span>
        <span class="reserveBtn" ng-click="reserveClick()">Reserve</span>
    </a>
</div>-->
        <div class="card"  ng-repeat="l in listArray">
            <div class="item item-divider" style="background-color: white !important;">
                <h2 style="color: red;  white-space: nowrap;">{{l.center_name}}</h2>
             </div>
            <a style="border:none" class="item item-thumbnail-left item-text-wrap Paddingtop animated zoomIn" ng-click="goDetail(l)">
                <!--<img image-lazy-src="{{ l.center_imgpath }}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="-200" id="listImg">-->
                <img src="{{ l.center_imgpath }}">

                <h2 style="font-weight: 600;">10am to 12pm</h2>
                <h2>{{l.location}}</h2>
                <p style="color:green; font-weight:600"> {{l.price}} Rs</p>
                <!--<rating ng-model="l.gymRating" max="5" readonly="readOnly" style="position:fixed;left:10px; color:#e6b500"></rating>-->
                <span class="item-note">
                    {{l.distance}} KMs
                </span>
            </a>
            <div class="tabs item">
                <a class="tab-item" ng-click="reserve(l)">
                    RESERVE
                </a>
                <a class="tab-item" ng-click="goDetail(l)">
                    DETAILS
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
<style>
  .week{
    text-align: center;
    color: #d41b0d  !important;
    font-weight: 600;
  }
  .abc:hover{
background-color:#ccc;
  }
  .reserveBtn{
          background-color: #d41b0d  !important;
    color: white;
    position: fixed;
    left: 10px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
</style>     
<script id="selectBookingType.html" type="text/ng-template">
    <ion-list>
        <ion-radio ng-model="visible.status" ng-value="'0'" style="font-size: 13px;">DAILY MEMBERSHIP </ion-radio>
        <ion-radio ng-model="visible.status" ng-value="'1'" style="font-size: 13px;">GYM MEMBERSHIP</ion-radio>
        <ion-radio ng-model="visible.status" ng-value="'2'" style="font-size: 13px;">FLXY GYM MEMBERSHIP</ion-radio>
    </ion-list>
</script>