<ion-side-menus enable-menu-with-back-views="false" style="background-color:#c3c5b7 !important">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" style="color: #484545 !important;
    background-color: #484545;">
    <a menu-close class="item item-thumbnail-left border-none menuProfileImage itemHoverMenu" ui-sref="displayProfile" style="margin-top: 16px;">
      <img ng-src="{{dashList.image}}"  err-src="{{errSrc}}" style="border-radius: 16px;margin-top: 10px">
      <h2 style="color: white;margin-top: 25px;font-weight: 700;">Welcome<br />{{dashList.name}}</h2>
    </a>
    <ion-content style="background-color:#484545 !important">
    <div class="list border-none animated bounceInDown">
  <a menu-close class="item item-icon-left sidemenuItem  border-none" ui-sref="app.dashboard" style="margin-top:150px">
    <i class="icon ion-ios-home-outline"></i>
   Home
  </a>
  <a menu-close class="item item-icon-left sidemenuItem border-none" ui-sref="flxyMemberShip">
    <i class="icon ion-ios-people-outline"></i>
   Membership
  </a>
  <a  menu-close class="item item-icon-left sidemenuItem border-none" ui-sref="tab.dailyOrder">
    <i class="icon ion-ios-bookmarks-outline"></i>
   Booking History
  </a>
  <a class="item item-icon-left sidemenuItem border-none" ui-sref="addMoney">
    <i class="icon ion-ios-briefcase-outline"></i>
  Wallet
  </a>
  <a  menu-close class="item item-text-wrap item-icon-left sidemenuItem border-none" ui-sref="feedback">
    <i class="icon ion-share"></i>
  Feedback/Feature Request
  </a>
        <a menu-close class="item item-text-wrap item-icon-left sidemenuItem border-none" ui-sref="about">
            <i class="icon ion-ios-information-outline"></i>
           About
        </a>
  <a menu-close class="item item-icon-left sidemenuItem border-none" ng-click="logOut()">
    <i class="icon ion-log-out"></i>
  Logout
  </a>
   </div>
<div style="height: 30px"></div>
    </ion-content>
  </ion-side-menu>
<ion-header-bar class="heightDashMenuHeder" style="height: 50px; position: fixed;top:0px; background-color:#ddd !important">
              <div class="logoHeaderImg"></div>
  <button ui-sref="app.dashboard" class="button  button-clear" style="color:#d41b0d !important;">
            <span class="headerStyle" style="color:#d41b0d  !important">FLXY GYM</span>
       <p style="font-size:12px;color: #d41b0d  !important;font-weight: 500;position: fixed;
    top: 29px;
    left: 58px;">WALK YOUR WAY TO FITNESS</p>
        </button>
         <button style="color: #d41b0d  !important;" class="button button-clear button-positive icon ion-navicon" ng-click="toggleLeftSideMenu()"  menu-toggle="left"></button>
    </ion-header-bar>
</ion-side-menus>
<style>
  /*.itemHoverMenu:hover{
      background-color:#444;
  }*/
  .heightDashMenuHeder{
    border-top: 18px solid #d41b0d !important;
    height: 86px !important;
  }
  .sidemenuItem:hover{
      background-color:black;
  }
</style>