<ion-view cache-view="false" hide-nav-bar="true">
    <ion-header-bar class="flxy-button">
        <button ui-sref="tab.dailyOrder" class="button  button-clear icon ion-ios-arrow-left" style="color:#d41b0d;">
            <span class="headerStyle">ORDER HISTORY</span>
        </button>
    </ion-header-bar>
    <ion-content style="margin-top:21px" class="padding">
        <div class="list card">
            <a class="item item-thumbnail-left item-text-wrap">
                <img src="{{bookingDetails[0].image}}">
                <h2>Order Id :{{bookingDetails[0].order_id}}</h2>
                <h2>{{bookingDetails[0].center_name}}</h2>
                <p>{{bookingDetails[0].category}}</p>
                <p>Booking Date :{{bookingDetails[0].booking_date | date:'dd-MMM-yyyy HH:mm'}}</p>
                <p style="color:green" ng-if="bookingDetails[0].result == 'success'">Your transaction is successful</p>
                <p style="color:red" ng-if="bookingDetails[0].result == 'failure'">Your transaction is failed</p>        
               <h2 style="text-align:right; color:black; font-weight:700"><i class="fa fa-inr" aria-hidden="true"></i>{{sumAmount}}</h2>
            </a>
            <a class="item  item-text-wrap" ng-repeat="a in bookingDetails">
                <h2>{{a.date}}</h2>
                <p>{{a.time}}</p>
                <p style="text-align:right; color:green"><i class="fa fa-inr" aria-hidden="true"></i>{{a.price}}</p>   
            </a>
        </div>
    </ion-content>
</ion-view>
