<ion-view cache-view="false" hide-nav-bar="true">
    <ion-header-bar class="flxy-button">
        <button ui-sref="app.dashboard" class="button  button-clear icon ion-ios-arrow-left" style="color:white;">
            <span class="headerStyle">MY ORDERS</span>
        </button>
    </ion-header-bar>
    <ion-content style="margin-top:21px">
        <div class="list" ng-repeat="b in bookings" ng-click="goBookingDetails(b)">
            <a class="item item-thumbnail-left item-text-wrap" style="margin-bottom: -22px;">
                <img src="{{b.center_image}}">
                <h2>{{b.center_name}}</h2>
                <p>Order Id :{{b.order_id}}</p>
                <p style="color:green">Your transaction is successful</p>
                <h2 style="text-align:right; color:black; font-weight:700">{{b.totalAmount}} Rs</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
