<ion-view hide-nav-bar="true" title="Free Books" cache-view="false">
    <ion-header-bar class="flxy-button">
        <button class="button  button-clear icon ion-ios-arrow-left" style="color:white;" ui-sref="bookDate">
            <span class="headerStyle">Order Details</span>
        </button>
    </ion-header-bar>
    <ion-content class="" style="margin-top:21px">
        <a class="item  item-text-wrap" ng-repeat="d in dateDetails" ng-if="showDateTable">
            <h2>{{d.date  | date:'dd MMM yyyy'}}</h2>
            <p>{{d.Time}}</p>
            <p style="text-align:right; color:green">{{d.price}} Rs</p>
        </a>





        <table id="t01" ng-if="showDateTables">
            <tr>
                <th>Date</th>
                <th>Shift</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="d in dateDetails">
                <td>{{d.date  | date:'dd MMM yyyy'}}</td>
                <td>{{d.Time}}</td>
                <td> {{d.price}} Rs</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td><b>{{ getTotal() }} Rs</b></td>
            </tr>
        </table>
        <ion-list ng-if="showMemberShip">
            <ion-item class="animated zoomIn  item-icon-left">
                <i class="icon ion-star"></i>
                <h2>{{type}}</h2>
                <h2>{{period}}</h2>
                <h2>{{totalMembershipPrice}}</h2>
            </ion-item>
        </ion-list>



    </ion-content>
    <div class="tabs flxy-tabs" style="font-weight: 900;background-color:#ddd !important">
        <a class="tab-item" style="font-weight: 900;width:100%;overflow:visible !important;background-color:#ddd" ng-click="openBrowser()">
            Pay {{getTotal()}} Rs
        </a>
    </div>
</ion-view>
<style>
    table {
        width: 100%;
    }
    table, th, td {
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        background-color: white;
        color: #d41b0d;
        text-align:center;
    }
</style>