<ion-view hide-nav-bar="true" title="Free Books" cache-view="false">
    <ion-header-bar class="flxy-button">
        <button class="button  button-clear icon ion-ios-arrow-left" style="color:#d41b0d;" ui-sref="bookDate">
            <span class="headerStyle">Order Details</span>
        </button>
    </ion-header-bar>
    <ion-content class="" style="margin-top:21px">
            <a class="item item-thumbnail-left" >
                <img src="{{gymDetails[0].center_imgpath[0]}}" err-src="{{errSrc}}">
                <h2>{{gymDetails[0].center_name}}</h2>
                <p>{{cName}}</p>
                <h2 ng-if="bookTypetoshowPrice == 'Daily Booking'"><i class="fa fa-inr" aria-hidden="true"></i> {{getTotal()}}</h2>
                <h2 ng-if="bookTypetoshowPrice != 'Daily Booking'"><i class="fa fa-inr" aria-hidden="true"></i>{{totAmount}}</h2>
            </a>
        <a class="item  item-text-wrap" ng-repeat="d in dateDetails" ng-if="showDateTable">
            <h2>{{d.date  | date:'dd MMM yyyy'}}</h2>
            <p>{{d.Time}}</p>
            <p style="text-align:right; color:green" ng-if="bookTypetoshowPrice == 'Daily Booking'"><i class="fa fa-inr" aria-hidden="true"></i>{{d.price}} </p>
            <p style="text-align:right; color:green" ng-if="bookTypetoshowPrice != 'Daily Booking'"><i class="fa fa-inr" aria-hidden="true"></i>{{totAmount}} </p>

        </a>

        <table id="t01" ng-if="showDateTables">
            <tr>
                <th>Date</th>
                <th>Shift</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="d in dateDetails">
                <td>{{d.date  | date:'dd MMM yyyy'}}</td>
                <td>{{d.Time}}</td>
                <td><i class="fa fa-inr" aria-hidden="true"></i> {{d.price}}</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td><b><i class="fa fa-inr" aria-hidden="true"></i>{{ getTotal() }}</b></td>
            </tr>
        </table>
        <ion-list ng-if="showMemberShip">
            <ion-item class="animated zoomIn  item-icon-left">
                <i class="icon ion-star"></i>
                <h2>{{type}}</h2>
                <h2>{{period}}</h2>
                <h2><i class="fa fa-inr" aria-hidden="true"></i>{{totalMembershipPrice}}</h2>
            </ion-item>
        </ion-list>


        <div style="height:100px"></div>
    </ion-content>
    <div class="tabs flxy-tabs" style="font-weight: 900;background-color:#ddd !important">
        <a class="tab-item" style="font-weight: 900;width:100%;overflow:visible !important;background-color:#ddd" ng-click="openBrowser()" ng-if="bookTypetoshowPrice == 'Daily Booking'">
            Pay &nbsp;<i class="fa fa-inr" aria-hidden="true"></i>{{getTotal()}}
        </a>
        <a class="tab-item" style="font-weight: 900;width:100%;overflow:visible !important;background-color:#ddd" ng-click="openBrowser()" ng-if="bookTypetoshowPrice != 'Daily Booking'">
            Pay&nbsp; <i class="fa fa-inr" aria-hidden="true"></i>{{totAmount}}
        </a>

    </div>
</ion-view>
<style>
    table {
        width: 100%;
    }
    table, th, td {
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        background-color: white;
        color: #d41b0d;
        text-align:center;
    }
</style>