<ion-view hide-nav-bar="true" class="greyBackgorund" cache-view="false">
    <ion-header-bar class="flxy-button" style="border:none">
        <button ui-sref="app.dashboard" class="button  button-clear icon ion-ios-arrow-left" style="color:#d41b0d;">
            <span class="headerStyle">PLACE NEARBY</span>
        </button>
    </ion-header-bar>
    <div class="bar bar-subheader item-input-inset" style="background-color: #dddddd; border:none; margin-top: 9px;">
        <div class="item-input-wrapper">
            <input type="text" placeholder="Search" ng-model="search">
        </div>
    </div>
    <!--<div class="list card list-inset Paddingtop animated zoomIn" style="position:fixed;bottom:-10px; z-index:1000; width:104%;left:-10px">
              <label class="item item-input item-select flxy-tabs" style="background-color:#ddd !important; border-top:1px solid #a51b10">
                  <span class="input-label flxy-tabs" style="background-color:#ddd !important">
                 Select Location               
                    </span>
                 
                  <select class="item-text-wrap"  name="mySelect" id="mySelect" ng-change="dropDownClick(locationDetails.SelectedLocation)"
                          ng-options="option.location for option in locationDetails.location track by option.loc_id"
                          ng-model="locationDetails.SelectedLocation" style="background-color:#d41b0d !important; color:white !important"></select>
              </label>
          </div>-->
    <div class="list card list-inset Paddingtop animated zoomIn" style="position:fixed;bottom:-5px; z-index:1000; width:104%;left:-10px">
        <label class="item item-input item-select flxy-tabs" style="background-color:#ddd !important;border:none">
            <span class="input-label flxy-tabs" style="background-color:#ddd !important;    font-size: 17px;
    font-weight: 600;">
                Category
            </span>
            <select style="background-color:rgb(212, 27, 13) !important;color:white;font-size: 17px;font-weight: 600;" class="item-text-wrap" name="mySelect" id="mySelect"ng-change="dropDownClick(CategorysDetails.SelectedCategory)"
                    ng-options="option.cat_name for option in CategorysDetails.cat_name track by option.cat_id"
                    ng-model="CategorysDetails.SelectedCategory"></select>
           </label>
    </div>
    <ion-content style="margin-top:50px">
        <div class="card" ng-repeat="l in listArray | filter :search">
            <div class="item item-divider" style="background-color: white !important;border:none;margin-bottom:-13px">
                <h2 style="color: #6a6464;  white-space: nowrap;font-weight:600; font-size:17px">{{l.center_name}}</h2>
            </div>
            <a style="border:none" class="item item-thumbnail-left item-text-wrap Paddingtop animated zoomIn" ng-click="goDetail(l)">
                <!--<img image-lazy-src="{{ l.center_imgpath }}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="-200" id="listImg">-->
                <img src="{{ l.center_imgpath }}" err-src="{{errSrc}}">

                <h2 style="font-family:cursive">10am to 12pm</h2>
                <h2>{{l.location}}</h2>
                <p> {{l.cat_id}}</p>
                <p>{{l.distance | number:0}} KMs away</p>
                <!--<rating ng-model="l.gymRating" max="5" readonly="readOnly" style="position:fixed;left:10px; color:#e6b500"></rating>-->
                <span class="item-note" style="color:green; font-weight:600; font-size: 19px;margin-top: -83px !important;">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    {{l.price}}
                </span>
            </a>
            <div class="tabs item" style="margin-top: -21px !important;">
                <a class="tab-item" style="color: #d41b0d;" ng-click="reserve(l)">
                    RESERVE
                </a>
                <a class="tab-item" style="color: green;" ng-click="goDetail(l)">
                    DETAILS
                </a>
            </div>
        </div>


        <!--<div class="list">
            <a class="item item-thumbnail-left item-text-wrap Paddingtop animated zoomIn" ng-repeat="l in listArray | filter: search">
                <img image-lazy-src="{{ l.center_imgpath }}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="-200" id="listImg">
                <h2 style="color: red; white-space: nowrap;">{{l.center_name}}</h2>
                <p>10am to 12pm</p>
                <p>{{l.location}}</p>
                <p style="color:green">{{l.price}} Rs</p>
                <span class="item-note">

                    {{l.distance}} KMs
                </span>
               
            </a>
        </div>-->
<div style="height:100px"></div>
    </ion-content>
</ion-view>
