<ion-view hide-nav-bar="true" title="Free Books">
    <ion-header-bar class="flxy-button">
        <button ui-sref="app.dashboard" class="button  button-clear icon ion-ios-arrow-left" style="color:white;">
            <span class="headerStyle">EDIT PROFILE</span>
        </button>
    </ion-header-bar>
    <ion-content style="margin-top:15px">
        <!--<div class="slide-up">
            <div class="profile-bg">
                <h2 align="center">  <img class="tech-img" ng-src="{{dashList.image}}" ng-click="takePicture()" /></h2>
            </div>
        </div>-->
        <div class="item item-image" style="background-color:#010001;">
            <img class="bgProfile  card"  ng-src="{{dashList.image}}">
        </div>
        <div class="list">
            <div class="item item-icon-right" ng-click="choose()" style="margin-top:-50px;border: none; background-color: transparent;">
               <i class="icon ion-ios-camera-outline" style="font-size:40px; color:white; padding:2px"></i>
            </div>
        </div>
        <!--<button class="button" ng-click="takePicture()">Take Picture</button>
        <button class="button" ng-click="fromGallery()">Open Gallery</button>
        <img ng-src="{{dashList.image}}">-->

        <div class="list animated zoomIn">
		  <label class="item item-input item-floating-label" style="border: none;width: 95%;">
		      <span class="input-label " >Name</span>
		     <input type="text"  placeholder="Name" class="registerField" ng-model="dashList.name">
		  </label>
		  <label class="item item-input item-floating-label" style="border: none;width: 95%;">
		    <span class="input-label " >Email address</span>
		     <input type="text"  placeholder="Email address" class="registerField" ng-model="dashList.email">
		  </label> 
		  <label class="item item-input item-floating-label" style="border: none;width: 95%;">
		      <span class="input-label " >Mobile number </span>
		     <input type="text"  placeholder="Mobile number" class="registerField" ng-model="dashList.mobile">
		  </label>
		  <label class="item item-input item-floating-label" style="border: none;width: 95%;">
		    <span class="input-label " >Address</span>
		     <input type="text"  placeholder="Address" class="registerField" ng-model="dashList.address">
		  </label>
		  <label class="item item-input item-floating-label" style="border: none; width: 95%">
		    <span class="input-label" >Date of birth</span>
		    <input type="date"  placeholder="Date of birth" class="registerField"  ng-model="dates">
		  </label>
           <label class="item item-input item-floating-label" style="border: none; width: 95%">
		    <span class="input-label" >Blood group</span>
		    <input type="text"  placeholder="Blood group" class="registerField" ng-model="dashList.blood_group">
		  </label>
            <label class="item item-input item-floating-label" style="border: none; width: 95%">
                <span class="input-label">Height</span>
                <input type="text" placeholder="height" class="registerField" ng-model="dashList.height">
            </label>
            <label class="item item-input item-floating-label" style="border: none; width: 95%">
                <span class="input-label">Weight</span>
                <input type="text" placeholder="weight" class="registerField" ng-model="dashList.weight">
            </label>
            <label class="item item-input item-floating-label" style="border: none; width: 95%">
                <span class="input-label">Gender</span>
                <input type="text" placeholder="Gender" class="registerField" ng-model="dashList.gender">
            </label>
          <!--<div align="center" style="margin-top: 10px"> 
		  <div class="button-bar button-outline" style="width:80%">
             <a class="button icon icon-left ion-man gender">Male</a>
             <a class="button icon icon-left ion-woman gender">Female</a>
		  </div>
         </div>-->
  </div>
<div style="height:100px"></div>
    </ion-content>
    <div class="tabs flxy-tabs animated zoomIn">
  <a class="tab-item" style="font-weight: 900;" ng-click="updateProfile(dashList)">
    UPDATE
  </a>
</div>
</ion-view>
<style>
	.gender:hover{
		background-color: #ccc;
	}
    .bgProfile{
        background-size: cover;
    width: auto !important;
    height: 246px !important;
    background-size:cover;
    }
</style>
<script id="chooseProfilePhoto.html" type="text/ng-template">
    <ion-list>
        <ion-radio ng-model="visible.status" ng-value="'0'" style="font-size: 20px;">Gallery</ion-radio>
        <ion-radio ng-model="visible.status" ng-value="'1'" style="font-size: 20px;">Camera</ion-radio>
    </ion-list>
</script>